---
import Navbar from "@/components/Navbar.astro";
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/Hero.astro";
import About from "@/components/About.astro";
---

<Layout title="Gihay Initiative | Para Hayahay Sa Babay">
  <main>
    <div class="bg-gihay-bg">
      <Navbar />
      <Hero />
      <About />
    </div>
  </main>
</Layout>
