---
import Navbar from "@/components/Navbar.astro";
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/Hero.astro";
---

<Layout title="Gihay Initiative | Para Hayahay Sa Babay">
  <main>
    <div class="bg-gihay-gradient">
      <Navbar />
      <Hero />
    </div>
  </main>
</Layout>
