---
import Navbar from "@/components/Navbar.astro";
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/Hero.astro";
---

<Layout title="Gihay Initiative | Para Hayahay Sa Babay">
  <main>
    <Navbar />
    <div class="mt-28">
      <Hero />
    </div>
  </main>
</Layout>
