---
import gihay_logo from "@/assets/gihay_main_logo.png";
---

<section class="h-screen flex flex-col z-0">
  <img src={gihay_logo.src} />
  <img src={gihay_logo.src} />
  <img src={gihay_logo.src} />
  <img src={gihay_logo.src} />
</section>
