---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="font-glacial">
    <slot />
  </body>
</html>

<style is:global>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --gradient: linear-gradient(to top left, #c84e89, #f15f79);

      --background: -31 34.45% 4.4%;
      --foreground: -31 5.300000000000001% 97.75%;

      --muted: -31 26.5% 16.5%;
      --muted-foreground: -31 5.300000000000001% 55.5%;

      --popover: -31 41.68% 7.15%;
      --popover-foreground: -31 5.300000000000001% 97.75%;

      --card: -31 41.68% 7.15%;
      --card-foreground: -31 5.300000000000001% 97.75%;

      --border: -31 26.5% 16.5%;
      --input: -31 26.5% 16.5%;

      --primary: -31 53% 55%;
      --primary-foreground: -31 5.300000000000001% 5.5%;

      --secondary: -31 26.5% 16.5%;
      --secondary-foreground: -31 5.300000000000001% 97.75%;

      --accent: -31 26.5% 16.5%;
      --accent-foreground: -31 5.300000000000001% 97.75%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: -31 5.300000000000001% 97.75%;

      --ring: -31 53% 55%;
    }

    .dark {
      --gradient: linear-gradient(to top left, #c84e89, #f15f79);

      --background: -31 34.45% 4.4%;
      --foreground: -31 5.300000000000001% 97.75%;

      --muted: -31 26.5% 16.5%;
      --muted-foreground: -31 5.300000000000001% 55.5%;

      --popover: -31 41.68% 7.15%;
      --popover-foreground: -31 5.300000000000001% 97.75%;

      --card: -31 41.68% 7.15%;
      --card-foreground: -31 5.300000000000001% 97.75%;

      --border: -31 26.5% 16.5%;
      --input: -31 26.5% 16.5%;

      --primary: -31 53% 55%;
      --primary-foreground: -31 5.300000000000001% 5.5%;

      --secondary: -31 26.5% 16.5%;
      --secondary-foreground: -31 5.300000000000001% 97.75%;

      --accent: -31 26.5% 16.5%;
      --accent-foreground: -31 5.300000000000001% 97.75%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: -31 5.300000000000001% 97.75%;

      --ring: -31 53% 55%;
    }
  }

  @layer components {
    .emphasis {
      position: relative;
    }
    .emphasis::after {
      content: "";
      position: absolute;
      bottom: -0.125rem;
      left: 0rem;
      right: 0rem;
      height: 0.75rem;
      z-index: -1;
      background-image: url(/squiggle.svg);
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  @layer utilities {
    .glass {
      @apply backdrop-blur-xl backdrop-saturate-200 bg-transparent border-1 border-customBorder;
    }
  }
  @font-face {
    font-family: "GlacialIndifference";
    src: url("/fonts/GlacialIndifference-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "GlacialIndifference";
    src: url("/fonts/GlacialIndifference-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: "GlacialIndifference";
    src: url("/fonts/GlacialIndifference-Italic.otf") format("opentype");
    font-weight: 400;
    font-style: italic;
  }
  @font-face {
    font-family: "Bright";
    src: url("/fonts/Bright.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
  }
</style>
